build/
runtime/servlettestweb/WEB-INF/classes/
runtime/servlettestweb/WEB-INF/lib/
tomcat/
ivy/artifacts/
lib/ojdbc5.jar
cope.properties
local.properties
test-properties/mysql*.properties
test-properties/oracle*.properties
test-properties/postgresql*.properties
test-properties/disabled/
.eclipse-output/
/nbproject/private/
