/build/
/runtime/servlettestweb/WEB-INF/classes/
/runtime/servlettestweb/WEB-INF/lib/
/tomcat/
/ivy/artifacts/
/lib/ojdbc6.jar
/cope.properties
/local.properties
/.idea-output/
/nbproject/private/
/.idea/workspace.xml
/.idea/uiDesigner.xml
