#
# Example for cope.properties
#

# Example properties for hsqldb
# see http://hsqldb.sourceforge.net/
#
database=hsqldb
database.url=jdbc:hsqldb:.
database.user=sa
database.password=

# Example properties for Oracle
#
database=oracle
database.url=jdbc:oracle:thin:@yourdatabase.yoursite.com:1521:yourSID
database.user=youruser
database.password=yourpassword

# Example properties for MySQL
#
# the connection parameters concerning character sets are needed
# for proper handling of non-ascii characters
#
database=mysql
database.url=jdbc:mysql://yourdatabase.yoursite.com/yourDB?useUnicode=true&characterEncoding=utf8&characterSetResults=utf8
database.user=youruser
database.password=yourpassword


# Example property for the data directory
#
# Is needed only if the project uses DataAttribute,
# otherwise you may remove this property.
#
datadir.path=the/path/to/your/directory/for/data/files


# Example property for the media root url
#
# Is needed only if the project uses Media,
# and you want a different value, than the default "media/".
#
#httpentity.rooturl=media/
