#
# Example for cope.properties
#

# Example properties for hsqldb
# see http://hsqldb.sourceforge.net/
#
database=hsqldb
database.url=jdbc:hsqldb:mem:copeexample
database.user=sa
database.password=

# Example properties for Oracle
#
database=oracle
database.url=jdbc:oracle:thin:@yourdatabase.yoursite.com:1521:yourSID
database.user=youruser
database.password=yourpassword

# Example properties for MySQL
#
# the connection parameters concerning character sets are needed
# for proper handling of non-ascii characters
#
database=mysql
database.url=jdbc:mysql://yourdatabase.yoursite.com/yourDB?useUnicode=true&characterEncoding=utf8&characterSetResults=utf8
database.user=youruser
database.password=yourpassword
