
a:link      { color:#009; }
a:visited   { color:#606; }
a:active    { color:#900; }
a:hover     { color:#606; background-color:#eef; }

h1
{
	font-size:180%;
	width:100%;
	font-family:Arial,Helvetica,Helv,sans-serif;
	font-weight:bold;
	color:#000;
	background-color:#fff;
	border-width:1px; border-color:#fff;
}

h1 a { text-decoration:none; }
h1 a:visited { color:#000; }
h1 a:link    { color:#000; }
h1 a:visited { color:#000; }
h1 a:active  { color:#000; }
h1 a:hover   { color:#000; background-color:#fff; }

h2,h3,h4
{
	width:100%;
	font-family:Arial,Helvetica,Helv,sans-serif;
	font-weight:bold;
	color:#000;
	background-color:#eef;
	padding:2pt;
	border-width:1px; border-color:#fff;
}

h2 { font-size:150%; }
h3 { font-size:116%; }
h4 { font-size:100%; }

div
{
	margin-top:12pt;
}

pre
{
	background-color:#eee;
	margin:12pt;
	padding:2pt;
}

pre a
{
	text-decoration:none;
}

img.exedio
{
	float:right;
	border:0;
	width:198px;
	height:60px;
}

img.sf
{
	float:right;
	margin:0px 0px 5px 5px;
	border:0;
	width:88px;
	height:31px;
}

img.nswpat
{
	float:right;
	margin:0px 0px 5px 5px;
	border:0;
}

img.validhtml
{
	float:right;
	border:0;
	width:88px;
	height:31px;
}

address
{
	width:100%;
	font-size:8pt;
	font-style:normal;
	padding-top:5px;
	border-top-width:1px;
	border-top-style:solid;
	margin-top:40px;
	margin-bottom:40px;
}
