
body
{
	font-family:Arial,Helvetica,Helv,sans-serif;
	font-size:12pt;
	color:#000;
	background-color:#FFF;
}

a:link      { color:#009; }
a:visited   { color:#606; }
a:active    { color:#900; }
a:hover     { color:#606; background-color:#eef; }

h1
{
	font-size:24pt;
	width:100%;
	font-family:Arial,Helvetica,Helv,sans-serif;
	font-weight:bold;
	color:#000;
	background-color:#fff;
	padding:2pt;
	border-width:1px; border-color:#fff;
}

h2,h3,h4
{
	width:100%;
	font-family:Arial,Helvetica,Helv,sans-serif;
	font-weight:bold;
	color:#000;
	background-color:#eef;
	padding:2pt;
	border-width:1px; border-color:#fff;
}

h2 { font-size:18pt; }
h3 { font-size:14pt; }
h4 { font-size:12pt; }

div
{
	margin-top:12pt;
}

pre
{
	background-color:#eee;
	margin:12pt;
	padding:2pt;
}
