<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<servlet>
		<servlet-name>deleteAdmin</servlet-name>
		<servlet-class>com.exedio.copernica.admin.AdminServlet</servlet-class>
		<init-param>
			<param-name>model</param-name>
			<param-value>com.exedio.cope.Main#deleteModel</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteAdmin</servlet-name>
		<url-pattern>/delete/admin/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>dayAdmin</servlet-name>
		<servlet-class>com.exedio.copernica.admin.AdminServlet</servlet-class>
		<init-param>
			<param-name>model</param-name>
			<param-value>com.exedio.cope.Main#dayModel</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>dayAdmin</servlet-name>
		<url-pattern>/day/admin/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>dataAdmin</servlet-name>
		<servlet-class>com.exedio.copernica.admin.AdminServlet</servlet-class>
		<init-param>
			<param-name>model</param-name>
			<param-value>com.exedio.cope.Main#dataModel</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>dataAdmin</servlet-name>
		<url-pattern>/data/admin/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>hashAdmin</servlet-name>
		<servlet-class>com.exedio.copernica.admin.AdminServlet</servlet-class>
		<init-param>
			<param-name>model</param-name>
			<param-value>com.exedio.cope.Main#hashModel</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>hashAdmin</servlet-name>
		<url-pattern>/hash/admin/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>md5Admin</servlet-name>
		<servlet-class>com.exedio.copernica.admin.AdminServlet</servlet-class>
		<init-param>
			<param-name>model</param-name>
			<param-value>com.exedio.cope.Main#md5Model</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>md5Admin</servlet-name>
		<url-pattern>/md5/admin/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>vectorAdmin</servlet-name>
		<servlet-class>com.exedio.copernica.admin.AdminServlet</servlet-class>
		<init-param>
			<param-name>model</param-name>
			<param-value>com.exedio.cope.Main#vectorModel</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>vectorAdmin</servlet-name>
		<url-pattern>/vector/admin/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>cacheIsolationAdmin</servlet-name>
		<servlet-class>com.exedio.copernica.admin.AdminServlet</servlet-class>
		<init-param>
			<param-name>model</param-name>
			<param-value>com.exedio.cope.Main#cacheIsolationModel</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>cacheIsolationAdmin</servlet-name>
		<url-pattern>/cacheIsolation/admin/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>nameAdmin</servlet-name>
		<servlet-class>com.exedio.copernica.admin.AdminServlet</servlet-class>
		<init-param>
			<param-name>model</param-name>
			<param-value>com.exedio.cope.Main#nameModel</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>nameAdmin</servlet-name>
		<url-pattern>/name/admin/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>matchAdmin</servlet-name>
		<servlet-class>com.exedio.copernica.admin.AdminServlet</servlet-class>
		<init-param>
			<param-name>model</param-name>
			<param-value>com.exedio.cope.Main#matchModel</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>matchAdmin</servlet-name>
		<url-pattern>/match/admin/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>hierarchyAdmin</servlet-name>
		<servlet-class>com.exedio.copernica.admin.AdminServlet</servlet-class>
		<init-param>
			<param-name>model</param-name>
			<param-value>com.exedio.cope.Main#hierarchyModel</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>hierarchyAdmin</servlet-name>
		<url-pattern>/hierarchy/admin/*</url-pattern>
	</servlet-mapping>
	
	<description>Cope Test Application</description>
	<display-name>Cope Test Application</display-name>
	
	<session-config>
		<session-timeout>1<!--minute--></session-timeout>
	</session-config>
	
</web-app>
