<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<servlet>
		<servlet-name>deleteConsole</servlet-name>
		<servlet-class>com.exedio.cope.console.ConsoleServlet</servlet-class>
		<init-param>
			<param-name>model</param-name>
			<param-value>com.exedio.cope.Main#deleteModel</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteConsole</servlet-name>
		<url-pattern>/delete/console/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>dayConsole</servlet-name>
		<servlet-class>com.exedio.cope.console.ConsoleServlet</servlet-class>
		<init-param>
			<param-name>model</param-name>
			<param-value>com.exedio.cope.Main#dayModel</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>dayConsole</servlet-name>
		<url-pattern>/day/console/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>dataConsole</servlet-name>
		<servlet-class>com.exedio.cope.console.ConsoleServlet</servlet-class>
		<init-param>
			<param-name>model</param-name>
			<param-value>com.exedio.cope.Main#dataModel</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>dataConsole</servlet-name>
		<url-pattern>/data/console/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>hashConsole</servlet-name>
		<servlet-class>com.exedio.cope.console.ConsoleServlet</servlet-class>
		<init-param>
			<param-name>model</param-name>
			<param-value>com.exedio.cope.Main#hashModel</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>hashConsole</servlet-name>
		<url-pattern>/hash/console/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>md5Console</servlet-name>
		<servlet-class>com.exedio.cope.console.ConsoleServlet</servlet-class>
		<init-param>
			<param-name>model</param-name>
			<param-value>com.exedio.cope.Main#md5Model</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>md5Console</servlet-name>
		<url-pattern>/md5/console/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>attributeListConsole</servlet-name>
		<servlet-class>com.exedio.cope.console.ConsoleServlet</servlet-class>
		<init-param>
			<param-name>model</param-name>
			<param-value>com.exedio.cope.Main#attributeListModel</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>attributeListConsole</servlet-name>
		<url-pattern>/attributeList/console/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>attributeListLimitedConsole</servlet-name>
		<servlet-class>com.exedio.cope.console.ConsoleServlet</servlet-class>
		<init-param>
			<param-name>model</param-name>
			<param-value>com.exedio.cope.Main#attributeListLimitedModel</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>attributeListLimitedConsole</servlet-name>
		<url-pattern>/attributeListLimited/console/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>cacheIsolationConsole</servlet-name>
		<servlet-class>com.exedio.cope.console.ConsoleServlet</servlet-class>
		<init-param>
			<param-name>model</param-name>
			<param-value>com.exedio.cope.Main#cacheIsolationModel</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>cacheIsolationConsole</servlet-name>
		<url-pattern>/cacheIsolation/console/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>nameConsole</servlet-name>
		<servlet-class>com.exedio.cope.console.ConsoleServlet</servlet-class>
		<init-param>
			<param-name>model</param-name>
			<param-value>com.exedio.cope.Main#nameModel</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>nameConsole</servlet-name>
		<url-pattern>/name/console/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>matchConsole</servlet-name>
		<servlet-class>com.exedio.cope.console.ConsoleServlet</servlet-class>
		<init-param>
			<param-name>model</param-name>
			<param-value>com.exedio.cope.Main#matchModel</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>matchConsole</servlet-name>
		<url-pattern>/match/console/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>hierarchyConsole</servlet-name>
		<servlet-class>com.exedio.cope.console.ConsoleServlet</servlet-class>
		<init-param>
			<param-name>model</param-name>
			<param-value>com.exedio.cope.Main#hierarchyModel</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>hierarchyConsole</servlet-name>
		<url-pattern>/hierarchy/console/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>typeNotInConditionConsole</servlet-name>
		<servlet-class>com.exedio.cope.console.ConsoleServlet</servlet-class>
		<init-param>
			<param-name>model</param-name>
			<param-value>com.exedio.cope.Main#typeNotInConditionModel</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>typeNotInConditionConsole</servlet-name>
		<url-pattern>/typeNotInCondition/console/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>hiddenFeatureConsole</servlet-name>
		<servlet-class>com.exedio.cope.console.ConsoleServlet</servlet-class>
		<init-param>
			<param-name>model</param-name>
			<param-value>com.exedio.cope.Main#hiddenFeatureModel</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>hiddenFeatureConsole</servlet-name>
		<url-pattern>/hiddenFeature/console/*</url-pattern>
	</servlet-mapping>
	
	<description>Cope Test Application</description>
	<display-name>Cope Test Application</display-name>
	
	<session-config>
		<session-timeout>1<!--minute--></session-timeout>
	</session-config>
	
</web-app>
