
h1 a { text-decoration:none; }
h1 a:visited { color:#000; }
h1 a:link    { color:#000; }
h1 a:visited { color:#000; }
h1 a:active  { color:#000; }
h1 a:hover   { color:#000; background-color:#fff; }

div.menu
{
	font-size:90%;
}

hr
{
	height:0px;
	margin:1em 0px;
	border-width:0px;
	border-top:1px solid #999;
}

table th
{
	text-align:left;
	vertical-align:top;
	background:#ccc;
	border:solid 1px #ccc;
	padding:1px 3px;
	font-weight:normal;
}

table td
{
	text-align:right;
	vertical-align:top;
	border:solid 1px #ccc;
	padding:1px 3px;
}

table th.caption
{
	font-style:italic;
}

table td.text
{
	text-align:left;
}

table tr.inconsistent td
{
	background:#C00;
}

table tr.unspecified th
{
	background:#CCB;
}

table tr.unspecified td
{
	background:#FFE;
}

table th.color0 { margin:0px; background:#ccc; border-color:#ccc; text-align:left; padding-left:0.3em; }
table th.color1 { margin:0px; background:#fff; border-color:#fff; text-align:left; padding-left:0.3em; }

table td.color0 { margin:0px; background:#ddf; border-color:#ddf; }
table td.color1 { margin:0px; background:#fff; border-color:#ddf; }

div.message
{
	color: #000;
	background-color: #FCC;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 5px;
	border-width: 3px;
	border-color: #800;
	border-style: solid;
}

img
{
	border:0;
}

span.ok      { background-color:#cfc; }
span.warning { background-color:#ffc; }
span.error   { background-color:#fcc; }
li.ok        { background-color:#cfc; }
li.warning   { background-color:#ffc; }
li.error     { background-color:#fcc; }
ul.ok        { background-color:#cfc; }
ul.warning   { background-color:#ffc; }
ul.error     { background-color:#fcc; }

li.timelog { color:#ccc; }
