
h1 a { text-decoration:none; }
h1 a:visited { color:#000; }
h1 a:link    { color:#000; }
h1 a:visited { color:#000; }
h1 a:active  { color:#000; }
h1 a:hover   { color:#000; background-color:#fff; }

table th
{
	text-align:left;
	vertical-align:top;
	background:#CCC;
	border:solid 1px #CCC;
	padding:1px 3px;
	font-weight:normal;
}

table td
{
	text-align:right;
	vertical-align:top;
	border:solid 1px #CCC;
	padding:1px 3px;
}

table td.text
{
	text-align:left;
}

table tr.inconsistent td
{
	background:#C00;
}

table tr.unspecified th
{
	background:#CCB;
}

table tr.unspecified td
{
	background:#FFE;
}

table th.colored1 { background:#fcf; border-color:#fcf; text-align:left; padding-left:0.3em; }
table th.colored2 { background:#cff; border-color:#cff; text-align:left; padding-left:0.3em; }
table th.colored3 { background:#fcc; border-color:#fcc; text-align:left; padding-left:0.3em; }
table th.colored4 { background:#cfc; border-color:#cfc; text-align:left; padding-left:0.3em; }
table th.colored5 { background:#ccf; border-color:#ccf; text-align:left; padding-left:0.3em; }
table th.colored6 { background:#ffc; border-color:#ffc; text-align:left; padding-left:0.3em; }
table th.colored7 { background:#fcf; border-color:#fcf; text-align:left; padding-left:0.3em; }
table th.colored8 { background:#cff; border-color:#cff; text-align:left; padding-left:0.3em; }
table th.colored9 { background:#fcc; border-color:#fcc; text-align:left; padding-left:0.3em; }
table th.colored10{ background:#cfc; border-color:#cfc; text-align:left; padding-left:0.3em; }
table th.colored11{ background:#ccf; border-color:#ccf; text-align:left; padding-left:0.3em; }
table th.colored12{ background:#ffc; border-color:#ffc; text-align:left; padding-left:0.3em; }

table td.colored1 { background:#fcf; border-color:#fcf; }
table td.colored2 { background:#cff; border-color:#cff; }
table td.colored3 { background:#fcc; border-color:#fcc; }
table td.colored4 { background:#cfc; border-color:#cfc; }
table td.colored5 { background:#ccf; border-color:#ccf; }
table td.colored6 { background:#ffc; border-color:#ffc; }
table td.colored7 { background:#fcf; border-color:#fcf; }
table td.colored8 { background:#cff; border-color:#cff; }
table td.colored9 { background:#fcc; border-color:#fcc; }
table td.colored10{ background:#cfc; border-color:#cfc; }
table td.colored11{ background:#ccf; border-color:#ccf; }
table td.colored12{ background:#ffc; border-color:#ffc; }

div.message
{
	color: #000;
	background-color: #FCC;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 5px;
	border-width: 3px;
	border-color: #800;
	border-style: solid;
}

img
{
	border:0;
}

span.ok      { background-color:#cfc; }
span.warning { background-color:#ffc; }
span.error   { background-color:#fcc; }
li.ok        { background-color:#cfc; }
li.warning   { background-color:#ffc; }
li.error     { background-color:#fcc; }
ul.ok        { background-color:#cfc; }
ul.warning   { background-color:#ffc; }
ul.error     { background-color:#fcc; }

li.timelog { color:#ccc; }
