[mysqld]

# COPE must use InnoDB, COPE does not support any other engine.
# It is recommended, that you disable all other engines, to avoid mistakes.
# However, mysql will still need MyISAM, CSV, MRG_MYISAM, PERFORMANCE_SCHEMA and MEMORY for internal purposes of MySQL itself.
archive=OFF
federated=OFF
blackhole=OFF

# Maximum Value
# https://dev.mysql.com/doc/refman/5.7/en/server-system-variables.html#sysvar_max_allowed_packet
max_allowed_packet=64000000

# Prevent the following error:
# The size of BLOB/TEXT data inserted in one transaction is greater than 10% of
# redo log size. Increase the redo log size using innodb_log_file_size.
# https://dev.mysql.com/doc/refman/5.6/en/innodb-parameters.html#sysvar_innodb_log_file_size
innodb_log_file_size=300000000

# Current production systems still running MySQL 5.6 do disable innodb_file_per_table,
# therefore we do disable it as well.
# https://dev.mysql.com/doc/refman/5.6/en/innodb-parameters.html#sysvar_innodb_file_per_table
innodb_file_per_table=OFF

# Enables binlog
# https://dev.mysql.com/doc/refman/5.7/en/replication-options-binary-log.html#sysvar_log_bin
log_bin=/var/log/mysql/mysql-bin.log
# log_slave_updates is needed for gtid_mode, otherwise startup fails with error message:
# --gtid-mode=ON or UPGRADE_STEP_1 or UPGRADE_STEP_2 requires --log-bin and --log-slave-updates
log_slave_updates=ON
binlog_do_db=binlogtest
gtid_mode=ON
enforce_gtid_consistency=ON
