<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<context-param>
		<param-name>model</param-name>
		<param-value>com.exedio.cope.console.example.Main#model</param-value>
	</context-param>
	
	<servlet>
		<servlet-name>standard</servlet-name>
		<servlet-class>com.exedio.cope.console.ConsoleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>standard</servlet-name>
		<url-pattern>/standard/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>reduced</servlet-name>
		<servlet-class>com.exedio.cope.console.ConsoleServlet</servlet-class>
		<init-param>
			<param-name>model</param-name>
			<param-value>com.exedio.cope.console.example.Main#reducedModel</param-value>
		</init-param>
		<init-param>
			<param-name>cope.properties</param-name>
			<param-value>WEB-INF/cope-reduced.properties</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>reduced</servlet-name>
		<url-pattern>/reduced/*</url-pattern>
	</servlet-mapping>
	
	<!--context-param>
		<param-name>com.exedio.cope.console.log</param-name>
		<param-value>/your/path/history.cope.properties</param-value>
	</context-param-->
	
	<servlet>
		<servlet-name>media</servlet-name>
		<servlet-class>com.exedio.cope.pattern.MediaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>media</servlet-name>
		<url-pattern>/media/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>init</servlet-name>
		<servlet-class>com.exedio.cope.console.example.InitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>init</servlet-name>
		<url-pattern>/init/*</url-pattern>
	</servlet-mapping>
	
	<description>Cope Console Test Application</description>
	<display-name>Cope Console  Application</display-name>
	
	<session-config>
		<session-timeout>1<!--minute--></session-timeout>
	</session-config>
	
</web-app>
