<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<!--context-param>
		<param-name>com.exedio.cope.console.log</param-name>
		<param-value>/your/path/logging.cope.properties</param-value>
	</context-param-->
	
	<servlet>
		<servlet-name>media</servlet-name>
		<servlet-class>com.exedio.cope.pattern.MediaServlet</servlet-class>
		<init-param>
			<param-name>model</param-name>
			<param-value>com.exedio.cope.pattern.InitServlet#model</param-value>
		</init-param>
		<init-param>
			<param-name>cope.properties</param-name>
			<param-value>WEB-INF/media.cope.properties</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>media</servlet-name>
		<url-pattern>/media/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>init</servlet-name>
		<servlet-class>com.exedio.cope.pattern.InitServlet</servlet-class>
		<init-param>
			<param-name>cope.properties</param-name>
			<param-value>WEB-INF/media.cope.properties</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>init</servlet-name>
		<url-pattern>/init/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>mediaConsole</servlet-name>
		<servlet-class>com.exedio.cope.console.ConsoleServlet</servlet-class>
		<init-param>
			<param-name>model</param-name>
			<param-value>com.exedio.cope.pattern.InitServlet#model</param-value>
		</init-param>
		<init-param>
			<param-name>cope.properties</param-name>
			<param-value>WEB-INF/media.cope.properties</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>mediaConsole</servlet-name>
		<url-pattern>/mediaConsole/*</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>edited</servlet-name>
		<servlet-class>com.exedio.cope.util.EditedServlet</servlet-class>
		<init-param>
			<param-name>cope.properties</param-name>
			<param-value>WEB-INF/editor.cope.properties</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>edited</servlet-name>
		<url-pattern>/edited/*</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>editor</filter-name>
		<filter-class>com.exedio.cope.util.EditorFilter</filter-class>
		<init-param>
			<param-name>cope.properties</param-name>
			<param-value>WEB-INF/editor.cope.properties</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>editor</filter-name>
		<servlet-name>edited</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	
	<servlet>
		<servlet-name>editorMedia</servlet-name>
		<servlet-class>com.exedio.cope.pattern.MediaServlet</servlet-class>
		<init-param>
			<param-name>model</param-name>
			<param-value>com.exedio.cope.util.EditedServlet#model</param-value>
		</init-param>
		<init-param>
			<param-name>cope.properties</param-name>
			<param-value>WEB-INF/editor.cope.properties</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>editorMedia</servlet-name>
		<url-pattern>/editorMedia/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>editedConsole</servlet-name>
		<servlet-class>com.exedio.cope.console.ConsoleServlet</servlet-class>
		<init-param>
			<param-name>model</param-name>
			<param-value>com.exedio.cope.util.EditedServlet#model</param-value>
		</init-param>
		<init-param>
			<param-name>cope.properties</param-name>
			<param-value>WEB-INF/editor.cope.properties</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>editedConsole</servlet-name>
		<url-pattern>/editedConsole/*</url-pattern>
	</servlet-mapping>
	
	<description>Cope Runtime Servlet Test</description>
	<display-name>Cope Runtime Servlet Test</display-name>
	
	<session-config>
		<session-timeout>30<!--minutes--></session-timeout>
	</session-config>
	
</web-app>
