div.message
{
	color: #000;
	background-color: #FCC;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 5px;
	border-width: 3px;
	border-color: #800;
	border-style: solid;
}

table.statistics th
{
	padding:1px 0px;
}

table.statistics td
{
	text-align:right;
	background:#CCC;
	padding:1px 3px;
}

table.statistics tr.inconsistent td
{
	background:#C00;
}
