div.message
{
	color: #000;
	background-color: #FCC;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 5px;
	border-width: 3px;
	border-color: #800;
	border-style: solid;
}

table.properties th
{
	text-align:left;
	vertical-align:top;
	background:#CCC;
	border:solid 1px #CCC;
	padding:1px 3px;
	font-weight:normal;
}

table.properties td
{
	text-align:left;
	vertical-align:top;
	border:solid 1px #CCC;
	padding:1px 3px;
}

span.ok     { background-color:#ccffcc; }
span.yellow { background-color:#ffff33; }
span.red    { background-color:#ff3333; }
li.ok     { background-color:#ccffcc; }
li.yellow { background-color:#ffff33; }
li.red    { background-color:#ff3333; }
ul.ok     { background-color:#ccffcc; }
ul.yellow { background-color:#ffff33; }
ul.red    { background-color:#ff3333; }

table.statistics th
{
	padding:1px 0px;
}

table.statistics td
{
	text-align:right;
	background:#CCC;
	padding:1px 3px;
}

table.statistics tr.inconsistent td
{
	background:#C00;
}
