#langlist
{
	border-bottom: 1px solid #4181d5;
	border-top: 1px solid #4181d5;
	margin: 0px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 0px;
	padding-left: 50px;
	background-color: #ffffff;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding-top: 10px;
	padding-bottom: 10px;
}

#langlist a, #langlist a:link, #langlist a:visited
{
	border: 1px solid #4181d5;
	padding: 1px;
	padding-left: 0.5em;
	padding-right: 0.5em;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}

#langlist a:hover, #langlist a:active, #langlist a:focus
{
	border: 1px solid #000000;
	padding: 1px;
	padding-left: 0.5em;
	padding-right: 0.5em;
	text-decoration: none;
}

#langlist li
{
	padding-right: 1px;
	display: inline;
	font-size: 0.6em;
}

#langlist ul
{
	margin: 0px;
	padding: 0px;
}

#langlist #active a { background-color: #61a1f5; }





ul#typelist
{
	text-align: left;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-right: 30px;
	width: 10em;
}

ul#typelist li
{
	display: block;
	margin: 2;
	padding: 0;
}

ul#typelist li a
{
	display: block;
	width: 100%;
	padding: 0.5em 0 0.5em 2em;
	border-width: 1px;
	border-color: #4181d5;
	border-style: solid;
	font-size: 0.6em;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	background: #ffffff;
}

ul#typelist li#active a
{
	background: #4181d5;
}

ul#typelist li a:hover, ul#typelist li#active a:hover
{
	border-color: #000000;
}
